.popup {

  ul {
    display: flex;
    flex-direction: column;

    border: 1px solid #f6eb05;
    width: 8rem;
    list-style-type: none;
    position: absolute;

    background-color: grey;

    &__li {
      cursor: pointer;
      padding: 0.6rem;
      width: 90px;

     &:hover {
        background-color: #8da982;
      }
    }
  }
}