.header {
  border: 1px solid lawngreen;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #147996;
  z-index: 1000;
  padding: 10px;

  .container {
    border: 1px solid #d54a00;

    max-width: 1160px; /*максимальная ширина или столько сколько есть места(задаем для адаптива)*/
    margin: 0 auto; /*по центру*/
    padding: 0 20px; /* не по плану*/

    .nav {
      display: flex;
      align-items: center;

      justify-content: space-between;
      position: relative;

      .menu {
        display: flex;
        margin-left: 16rem;

        ul {
          display: flex;
          list-style-type: none;

          //display: none; //на мобилке делаем

           li {
            //border: 1px solid #00d504;

            //position: relative; // можно и без этого

            text-align: center;
            cursor: pointer;
            padding: 0.6rem;
            width: 90px;

            &:hover {
              background-color: #adc9d7;
            }
          }
        }
      }
    }
  }
}

//.container{
//  max-width: 1160px; /*максимальная ширина или столько сколько есть места(задаем для адаптива)*/
//  margin: 0 auto; /*по центру*/
//  padding: 0 20px; /* не по плану*/
//}